@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, "Times New Roman";
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(#62d6ce), to(#4c8de1)) fixed;
}

button{
    border: none;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}